.m1{
    background-color: #EDEDED;
    width: 93rem;
    height: auto;
    position: relative;
    top: 5rem;
    left: 1rem;
    /* border: none; */
    /* border: 10px; */
    /* border-style: double; */
    
}
.dclass{
    height: 302px;
    position: relative;
    display: inline-block;
    margin: 2rem;
    /* border: 2rem; */
    word-spacing: normal;
    background-color: #EDEDED;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
}

.inp1{
    position: relative;
    left: 25rem;
    border: 2px;
    border: dotted;
    width: 40rem;
    height: 40px;
}

.tclass{
    display: block;
    text-align: justify;
    height: 20px;
    width: 180px;
    font-size:medium;
    word-spacing: normal;
    overflow: auto;
}
.ii{
    width: 93rem;
    height: 20rem;
    /* border: none; */
}
.d22{
    background-color: black;
    width: 92rem;
    height: 19rem;
    color: white;
}