<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" type="text/css" href = "{{url_for('static',filename='css/s1.css')}}" />
</head>
<body style="background-color: #EDEDED;">
    <div class="m1" id="d1">
        <form method="post" id="todo-form">
        <input id="todo" class='inp1' type="text" name="todo" placeholder="Enter anime you like">
        
        <button type="submit" id="b2" style="display:none;">Submit</button>
        
        </form>
        <br><br>
        
      

    </div>
    <p id="pp1" style="display: none;"></p>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>
          <script>
            // async function sett(){
                
            // }
            // let temp={{inds}}
            
    </script>
    <script type="text/javascript" src="{{url_for('static',filename='js/s1.js')}}"></script>
    <script type="text/javascript">
        let temp=document.getElementById("pp1")
        $(document).on('submit','#todo-form',async function(e)
                       {
          console.log('hello');
          e.preventDefault();
          // newel(document.getElementById('todo').value);
          $.ajax({
            type:'POST',
            url:"/t",
            data:{
              todo:$("#todo").val()
            },
            success:function(response)
            {
              temp.innerHTML=response
              newel(response)
              console.log(typeof(response))
              // alert('saved');
            }
          })
        });
        //   newel(document.getElementById('todo').value);
      </script>
</body>
</html>